In [1]:
import pandas as pd 

laptops_df = pd.read_csv('data/laptops.csv')
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [2]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [14]:
# unique()메소드는 해당 리스트, 배열, Series에서 중복되지 않은 값들만 보여준다. 
laptops_df['brand'].unique()
# laptops_df.loc[:, 'brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [12]:
# value_counts()는 특정컬럼(예,brand)에 있는 값들중 해당 로우가 몇개 있는지 각각 나열해 준다. 
# 제일 많이 사용할 것 같은 예감이 듭니다.
# laptops_df['brand'].value_counts()
laptops_df.loc[:, 'brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [6]:
# describe()값들은 해당 칼럼의 정보들을 보여줍니다. 특히 해당 칼럼의 값이 문자열인 경우에는 unique, 가장 많이(빈번히) 나온 문자열, 그 빈도수가 나옵니다.
laptops_df['brand'].describe()
# laptops_df.loc[:,'brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

In [10]:
laptops_df.loc[:,'brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

# 정리 

## 1. describe() 사용시 
> numeric data의 경우 : count, mean, std, min, max, 25, 70

> object data의 경우 : count, unique, top(최빈값), and freq(최빈값의 빈도)

## 2. unique() 
정리 

## 1. describe() 사용시 
> numeric data의 경우 : count, mean, std, min, max, 25, 70

> object data의 경우 : count, unique, top(최빈값), and freq(최빈값의 빈도)

## 2. unique() 
        컬럼의 고유한 값들만 보여준다. 

## 3. value_counts() 
        컬럼의 중복된 값들이 총 몇개인지 보여준다.

In [16]:
도

NameError: name '도' is not defined