# 여행지 선정하기 1
행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.


답안은 도시/나라 형식으로 숫자만 입력해 주세요. (예시: 156/77)

In [21]:
import pandas as pd

df = pd.read_csv('data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [8]:
# value_counts()를 통해서 length에서 61개의 국가가 있는걸 확인 할수 있음!
df['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Indonesia        1
Netherlands      1
Ecuador          1
Sudan            1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

In [10]:
# 짧게는 len()메소드 안에 unique()를 함께쓰면 더 짧고 간결하게 표현 가능함.  
len(df['Country'].unique())

61

In [16]:
# 도시의 개수를 짧게 표현할 수 있다. 
# len(df['City / Urban area'].unique())
df['City / Urban area'].unique().shape

(249,)

In [15]:
# shape 속성을 이용해서도 파악 할 수 있다. 사용 느낌은 해당 리스트의 로우 개수를 파악할수 있음.
df['City / Urban area'].value_counts()#.shape

Nashville           1
Fortaleza           1
Osaka/Kobe/Kyoto    1
Fayetteville        1
Manchester          1
                   ..
Atlanta             1
Lancaster           1
Santiago            1
Seoul/Incheon       1
Beirut              1
Name: City / Urban area, Length: 249, dtype: int64

## 정리하자면 

###  .value_counts() 
###  .unique() 
###  .shape
###  len(df\['컬럼명'\].unique()) 
###  len(df\['컬럼명'\].value_counts()) 

위의 다섯가지를 구분해서 설명 할 줄 알아야 한다.

# 질문 230XP
사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.


참고로 인구 밀도는 인구 수 / 땅의 면적 (in sqKm) 로 구할 수 있습니다.


답안은 숫자로만 입력해 주세요. (예시: 24)

In [9]:
df

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),인구밀도
0,0,Buenos Aires,Argentina,11200000,2266,4942
1,1,Melbourne,Australia,3162000,2080,1520
2,2,Sydney,Australia,3502000,1687,2075
3,3,Brisbane,Australia,1508000,1603,940
4,4,Perth,Australia,1177000,964,1220
...,...,...,...,...,...,...
244,245,Canton,USA,267000,372,717
245,246,Spokane,USA,335000,371,902
246,247,Tashkent,Uzbekistan,2200000,531,4143
247,248,Ho Chi Minh City,Vietnam,4900000,518,9459
248,249,Harare,Zimbabwe,1750000,712,2457

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           249 non-null    int64
 1   City / Urban area    249 non-null    object
 2   Country              249 non-null    object
 3   Population           249 non-null    int64
 4   Land area (in sqKm)  249 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.9+ KB

In [44]:
df['인구밀도']       =    df['Population']  //  df['Land area (in sqKm)']
df_high_density     =    df['인구밀도']     >   10000

# 방법1 인구밀도가 1만이 넘는 도시의 수 .shape 이용
df[df_high_density]#.shape # (19, 6)으로 19개의 도시들이 나타난다. 

# # 방법2 len()이용
# ['인구밀도']       =    df['Population']  //  df['Land area (in sqKm)']
# df_high_density     =    df['인구밀도']     >   10000

# # 방법1 인구밀도가 1만이 넘는 도시의 수 .shape 이용
# df[df_high_density].shape # (19, 6)으로 19개의 도시들이 나타난다. 
# # 방법2 len()이용
# # len(df[df_high_density]) # 19가뜸

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),인구밀도
32,32,Beijing,China,8614000,748,11516
33,33,Shanghai,China,10000000,746,13404
34,34,Shenzhen,China,8000000,466,17167
36,36,Tianjin,China,4750000,453,10485
38,38,Bogota,Colombia,7000000,518,13513
39,39,Kinshasa,Congo,5000000,469,10660
71,71,Delhi,India,14300000,1295,11042
73,73,Bangalore,India,5400000,534,10112
74,74,Kolkata,India,12700000,531,23917
75,75,Mumbai,India,14350000,484,29648
76,76,Chennai,India,5950000,414,14371
77,77,Jakarta,Indonesia,14250000,1360,10477
78,78,Tehran,Iran,7250000,686,10568
99,99,Lagos,Nigeria,13400000,738,18157
101,101,Karachi,Pakistan,9800000,518,18918
102,102,Lima,Peru,7000000,596,11744
103,103,Manila,Philippines,14750000,1399,10543
123,123,Seoul/Incheon,South Korea,17500000,1049,16682
129,129,Taipei,Taiwan,5700000,376,15159

# 질문 3
이번에는 인구 밀도가 가장 높은 도시를 찾아봅시다.


답안은 데이터에 적힌 이름을 그대로 입력해 주세요. (예시: Seoul)

In [56]:
density_ranks = df.sort_values('인구밀도', ascending=False)

In [57]:
density_ranks['City / Urban area']
# 기존 DataFrame에 정렬된 75번째 인덱스가 가장 높은 값을 가진 순위인걸 확인 할 수 있다.

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

# 정리하면 

<풀었던 부분>

첫째, 
> df\['인구밀도'\]       =    df\['Population'\]  //  df\['Land area (in sqKm)'\]

<놓친부분>

둘쨰 부분에서 풀지 못했음. 즉, 조건을 상정해서 변수에 담아야 된다는 부분을 Missing
> high_density_serial = df\['인구밀도'\] > 10000

그럼 high_density_serial 변수에는 인구밀도가 1만이 넘는 도시에는 True값을 주고 아닌 곳에는False값이 반영된다. 

셋째. df[] 에다가 high_density_serial변수를 담아서 DataFrame으로 다시 값을 나타

## 메서드 정리 
### info() 객체의 정보를 구석구석 확인가능.     
    - 인덱스, 컬럼, 데이터형등
    - .value_counts() 
    - .unique() 
    - .shape
    - len(df\['컬럼명'\].unique()) 
    - len(df\['컬럼명'\].value_counts()) 

###