# 여행지 선정하기 1
행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.


답안은 도시/나라 형식으로 숫자만 입력해 주세요. (예시: 156/77)

In [3]:
import pandas as pd

df = pd.read_csv('data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [8]:
# value_counts()를 통해서 length에서 61개의 국가가 있는걸 확인 할수 있음!
df['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Indonesia        1
Netherlands      1
Ecuador          1
Sudan            1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

In [10]:
# 짧게는 len()메소드 안에 unique()를 함께쓰면 더 짧고 간결하게 표현 가능함.  
len(df['Country'].unique())

61

In [16]:
# 도시의 개수를 짧게 표현할 수 있다. 
# len(df['City / Urban area'].unique())
df['City / Urban area'].unique().shape

(249,)

In [15]:
# shape 속성을 이용해서도 파악 할 수 있다. 사용 느낌은 해당 리스트의 로우 개수를 파악할수 있음.
df['City / Urban area'].value_counts()#.shape

Nashville           1
Fortaleza           1
Osaka/Kobe/Kyoto    1
Fayetteville        1
Manchester          1
                   ..
Atlanta             1
Lancaster           1
Santiago            1
Seoul/Incheon       1
Beirut              1
Name: City / Urban area, Length: 249, dtype: int64

## 정리하자면 

###  .value_counts() 
###  .unique() 
###  .shape
###  len(df\['컬럼명'\].unique()) 
###  len(df\['컬럼명'\].value_counts()) 

위의 다섯가지를 구분해서 설명 할 줄 알아야 한다.

# 질문 230XP
사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.


참고로 인구 밀도는 인구 수 / 땅의 면적 (in sqKm) 로 구할 수 있습니다.


답안은 숫자로만 입력해 주세요. (예시: 24)

In [17]:
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           249 non-null    int64
 1   City / Urban area    249 non-null    object
 2   Country              249 non-null    object
 3   Population           249 non-null    int64
 4   Land area (in sqKm)  249 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.9+ KB

In [29]:
df['인구밀도']= df['Population']/df['Land area (in sqKm)'] > 10000
df

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),인구밀도
0,0,Buenos Aires,Argentina,11200000,2266,False
1,1,Melbourne,Australia,3162000,2080,False
2,2,Sydney,Australia,3502000,1687,False
3,3,Brisbane,Australia,1508000,1603,False
4,4,Perth,Australia,1177000,964,False
...,...,...,...,...,...,...
244,245,Canton,USA,267000,372,False
245,246,Spokane,USA,335000,371,False
246,247,Tashkent,Uzbekistan,2200000,531,False
247,248,Ho Chi Minh City,Vietnam,4900000,518,False
248,249,Harare,Zimbabwe,1750000,712,False