# 질문 1
익중이는 누나에게 여행지를 추천 받으려고 합니다.
그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요.
이 나라는 무엇일까요?


답안은 데이터에 적힌 이름 그대로 적어 주세요. (예시: France)

In [5]:
import pandas as pd 

df = pd.read_csv('data/world_cities.csv',index_col=0)
df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [16]:
# value.counts()를 통해서  각 국가들의 몇개나 등장했는지 그 횟수를 파악할 수 있습니다. 
countries = df['Country'].value_counts() # 그걸 변수 countries에 담아 둡니다. 
countries[countries != 4]                # 변수에 담은 True, False의 Series 값들을 숫자 4와 같은지 하나하나씩 그 records들을 비교하게 됩니다.  countries의 length는 61번 이기때문에 4와 같은지 61번 비교하게 됩니다. 

# 그리고 결정적으로 해당 Series를 잘 출력해서 볼려면, Series명[Series 관계연산자(==,<,>,등) 데이터타입 ]

USA             105
France           15
Brazil           10
Canada            9
Germany           8
India             6
China             6
Australia         6
South Africa      6
Japan             5
UK                5
Mexico            3
Russia            3
Portugal          2
Pakistan          2
Taiwan            2
UAE               2
Saudi Arabia      2
Poland            2
Belgium           2
Spain             2
Puerto Rico       2
Turkey            2
Congo             2
Saudi             1
Colombia          1
Greece            1
Austria           1
Thailand          1
Argentina         1
Sudan             1
Ghana             1
Zimbabwe          1
Philippines       1
Kuwait            1
Iraq              1
Egypt             1
Ecuador           1
Iran              1
Malaysia          1
Netherlands       1
Azerbaijan        1
Finland           1
South Korea       1
Israel            1
Cambodia          1
Hungary           1
Peru              1
Nigeria           1
Vietnam           1
Lebanon           1
Denmark           1
Chile             1
Indonesia         1
New Zealand       1
Sweden            1
Ireland           1
Ukraine           1
Uzbekistan        1
Singapore         1
Name: Country, dtype: int64

In [17]:
len(countries)

pandas.core.series.Series