# 질문 1
익중이는 누나에게 여행지를 추천 받으려고 합니다.
그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요.
이 나라는 무엇일까요?


답안은 데이터에 적힌 이름 그대로 적어 주세요. (예시: France)

In [4]:
import pandas as pd 

df = pd.read_csv('data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [29]:
four_city_1country = df.loc[:, 'Country'].value_counts()
four_city_1country[four_city_1country == 4]

Italy    4
Name: Country, dtype: int64

## 정리하면 

    접근한 부분
>   - 1. df.loc[:, '단일컬럼명'].value_counts()를 통해서 각 국가들이 몇번 count되었는지 나타나게 된다. 

    생각치 못한 부분
>   - 2. 1변의 내용을 변수명으로 받아서 진행
        변수명[변수명 == 4] 즉 여기선 변수명으로 처리된건, Series로 list 혹은 array와 같이 1차원 배열이다. 
        배열들을 단일 값 4와 == 연산과 비교해서 각 셀마다 들어 있는 값을 비교해서 True인 값만 보여주게 된다.