In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

# 코드를 작성하세요.

# 정답 출력
df

           id  year           course name
0     2777729     1               science
1     2777730     2               science
2     2777765     1                  arts
3     2777766     2                  arts
4     2777785     1                   mba
...       ...   ...                   ...
1995  2796805     3  computer application
1996  2796812     1               nursing
1997  2796813     2               nursing
1998  2796814     3               nursing
1999  2796815     4               nursing

[2000 rows x 3 columns]

# 힌트

df.loc\[ 조건1 & 조건2, '컬럼이름' \] == '변경값'

# 코드잇 해설 

'status'라는 컬럼에 'allowed' 또는 'not allowed'라는 형태로 저장되어야한다.     
    Step1. "status"라는 컬럼을 만들고, 모든 데이터를 'allowed'로 채워봅시다.    
    이건 쉽습니다. 응!

In [15]:
df['status'] = 'allowed'

df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]

조건을 더해서 not allowed로 변경해 주어야 해요.

## 조건 1: "information technology"과목은 심화과목이라 1학년은 수강할 수 없습니다.  
'information technology'과목을 수강하는 모든 데이터를 boolean1에 저장하고, 1학년에 해당하는 모든 데이트를 boolean2에 저장합니다.

In [26]:
boolean1 = df['course name'] == 'information technology' # 이 Series에는 index도 같이 있다는거! 
boolean2 = df['year'] == 1

## ***** 개중요! 결국 위 두 조건을 동시에 만족하는 결과를 도출하는 것!

In [30]:
df.loc[boolean1 & boolean2, 'status'] = 'not allowed'
df[df['status'] == 'not allowed']

           id  year             course name       status
612   2783664     1  information technology  not allowed
1017  2787200     1  information technology  not allowed
1218  2789267     1  information technology  not allowed
1284  2789753     1  information technology  not allowed
1836  2795583     1  information technology  not allowed
1931  2796418     1  information technology  not allowed

## 조건 2: 'commerce'과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.

In [36]:
boolean3 = df['course name'] == 'commerce'
boolean4 = df['year'] == 4
df.loc[boolean3 & boolean4, 'status'] = 'not allowed'

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]

## 조건 3: 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.   

우선 status가 allowed인 데이터만 모아봅시다.

In [37]:
allowed = df['status'] == 'allowed'

value_counts()를 사용하면, 각 과목별 신청 인원을 확인할 수 있습니다.

In [39]:
course_counts = df.loc[allowed, 'course name'].value_counts()
course_counts

arts                                158
science                             124
commerce                            101
english                              56
education                            41
                                   ...
computer science (lateral entry)      1
arts/science                          1
aih                                   1
library and information               1
arthroscopy                           1
Name: course name, Length: 296, dtype: int64

In [42]:
closed_course = list(course_counts[course_counts < 5 ].index)
closed_course
# 이제 폐강 과목에 대한 리스트가 확보 되었습니다.

['computer architecture',
 'bpt',
 'agriculture',
 'physical education',
 'refactoring',
 'electronics and instrumentation',
 'database',
 'environment',
 'korean',
 'electronics & communication engineering',
 'instrumentation engineering',
 'computer engg with specialization in cloud computing.',
 'leather design',
 'mechanical related subjects',
 'mechanical engg.',
 'electronics and communication',
 'electrical engg',
 'information subjects',
 'engg. & tech.',
 'fashion communication',
 'applied sc.',
 'chemical',
 'data structure',
 'civil engg',
 'electrical and electronics engineering',
 'mech',
 'electros & communicationnic',
 'pathology',
 'tool & die making',
 'digital electronics',
 'admistrator',
 'science(bzc)',
 'gandhian thought',
 'mobile communication',
 'b.b.m',
 'saskrit',
 'corporate secaratoryship',
 'administration services',
 'politics',
 'if',
 'b.com (p)',
 'rasshastra evum bhaisgya kalpana',
 'kayachikitsa',
 'bca',
 'b.sc-m.p.c',
 'electronics engineering',
 'tb & chest',
 'comp(em)',
 'diploma in computer engineering',
 'english literature',
 'vocational',
 'electronic',
 'applied science & humanities',
 'jain darshan',
 'computer engg',
 'hons.',
 'bjmc',
 'dcp',
 'res',
 'mca 2nd shift',
 'bsc mpe',
 'electronics & comm. engg.',
 'deee',
 'anaesthesiology',
 'btzc',
 'travel tourism & hospitality management',
 'em',
 'buisiness administration',
 'bcom computer',
 'sahitya',
 'bcom marketing',
 'medicine',
 'industrial microbiology',
 'comp science',
 'b.com.(gen.e/m)',
 'pol-science',
 'computers',
 'eep',
 'c bc bt',
 'cmmerce',
 'tm',
 'b.com.',
 'bcom finance and taxation',
 'discipline',
 'mangement',
 'bcom (general)',
 'bbi',
 'diploma',
 'm.i.l',
 'music vocal',
 'master of computer application',
 'co-operation',
 'bsc btmc',
 'professional  accounting',
 'ai & as',
 'microbiology-botany-chemistry',
 '3 year ll.b course',
 'community medicine',
 'tax procedure and practice',
 'i.t',
 'computers (ug)',
 'electronics & comm engg',
 'software computer science',
 'bsc bzc',
 'yes',
 'civit',
 'mat',
 'electronics & communication engineeering',
 'compulsory',
 'all subjects',
 'co',
 'electronics & communication engg.  with specialization in  vlsi design & embedded systems',
 'nano science & technology',
 'electro nics and commun ications enginee ring',
 'political sc',
 'civil and environmental engineering',
 'mpharmacypa',
 'science arts',
 'it cs',
 'thermal power engineering',
 'quality assurance',
 'physical science',
 'computer appplication',
 'aero dynamics',
 'molecular virology',
 'bio technology',
 'm.sc chemistry(analytical chemistry)',
 'transportation engineering',
 'dharmashastra',
 'medical surgical nursing',
 'lab technology',
 'social studies',
 'infra structural engineering',
 'pharmaceutics',
 'b.ed.',
 'vlsi design and signal processing',
 'power systems engineering',
 'fibre optics and communication',
 'veterinary epidemiology & preventive medicine',
 'english geography',
 'automobile engineering',
 'btc-2012',
 'information security',
 'communication and signal processing',
 'construction technology and management',
 'environmental engg.',
 'spl. education',
 'hcl',
 'structural engineering',
 'math chemistry',
 '(biotechnology))',
 'pharmacognosy',
 'material science and engineering',
 'architecture',
 'social work',
 'd.ed',
 'dance-parangat',
 'data science',
 'drugs and pharmaceuticals',
 'history & archeology',
 'd.el.ed',
 'nuclear science & engineering',
 'dmrd',
 'digital communicati ons',
 'msc cs',
 'mpharmacy',
 'special education (h.i.)',
 'nutrition & dietetics',
 'power & energy systems',
 'social science',
 'git',
 'chmistry',
 'm.com',
 'construction technology',
 'btc 2013',
 'arts/commerce/science/maths',
 'polotical',
 'mass relation',
 'cad/cam',
 'computer integrated manufacturing',
 'international business',
 'co-education',
 'biochemistry',
 'taalvadya-parichay',
 'scientific computing',
 'mba 2nd shift',
 'computational mathematics',
 'vlsi',
 'library & information & science',
 'jmc',
 'lib. & info sci',
 'full time',
 'chemstry',
 'physical edu.',
 'sciences',
 'school of management',
 'humanities and social science (h',
 'punjabi',
 'environmental science',
 'statistics',
 'library',
 'technician',
 'b.ed',
 'pgdca',
 'aqua culture',
 'dcl',
 'pg.diploma',
 'biological sciences',
 'home sc. food & nutrition',
 'computer science (lateral entry)',
 'arts/science',
 'aih',
 'library and information',
 'arthroscopy']

In [45]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')
df["status"] = "allowed"

# 조건 1
boolean1 = df["course name"] == "information technology"
boolean2 = df["year"] == 1
df.loc[boolean1 & boolean2, "status"] = "not allowed"

# 조건 2
boolean3= df["course name"] == "commerce"
boolean4= df["year"] == 4
df.loc[boolean3& boolean4, "status"] = "not allowed"

# 조건 3
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()
closed_courses = list(course_counts[course_counts < 5].index)
for course in closed_courses:
    df.loc[df["course name"] == course, "status"] = "not allowed"

# 정답 확인
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]