In [1]:
import numpy as np # 넘파이 alias지정을 한다. np로

In [12]:
# 기존 데이
revenue_in_yen = np.array(revenue_in_yen)
revenue_in_yen

array([300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000,
       330000, 290000, 280000, 380000, 170000, 140000, 230000, 390000,
       400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000,
       340000, 420000, 150000, 130000, 360000, 320000, 250000])

In [13]:
type(revenue_in_yen)

numpy.ndarray

In [17]:
won_array =revenue_in_yen * 1.08

In [15]:
won_array

array([324000., 367200., 345600., 388800., 475200., 151200., 194400.,
       367200., 356400., 313200., 302400., 410400., 183600., 151200.,
       248400., 421200., 432000., 378000., 410400., 162000., 118800.,
       259200., 410400., 410400., 367200., 453600., 162000., 140400.,
       388800., 345600., 270000.])