In [1]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv', delimiter='\t')
hyundee_df = pd.read_csv('data/hyundee.csv', delimiter='\t')

# 코드를 작성하세요.
samsong_df
hyundee_df

    요일     식비   교통비  문화생활비    기타
0  MON  22420  2574   5339  5546
1  TUE  19940  2689   3524  2501
2  WED  18086  2281   5364  2234
3  THU  18863  2155   9942  3252
4  FRI  35144  2463  33511  2342
5  SAT  34952  2812  19397  4324
6  SUN  28513  2680  19925  4577

In [2]:
# 요일을 뜯어오자. 
days = samsong_df.loc[:,'요일']
sam_cul_fee = samsong_df.loc[:,'문화생활비']
hyun_cul_fee = hyundee_df.loc[:,'문화생활비']

In [ ]:
daily_cul_fee = {
    'day':days,
    'samsong':sam_cul_fee,
    'hyundee':hyun_cul_fee,
}
daily_cul_fee = pd.DataFrame(daily_cul_fee)
daily_cul_fee

## 인덱싱으로 조회하는 방법?!

In [ ]:
# 값을 가져오기 
samsong_df['요일']
samsong_df['문화생활비']
hyundee_df['문화생활비']

# 딕셔너리를 만들어 보자
{
    'days': samsong_df['요일'],
    'samsong': samsong_df['문화생활비'],
    'hyundee': hyundee_df['문화생활비']
}

# 이젠 데이타 프레임을 만들어 보자 
combined_df = pd.DataFrame(
    {
    'days': samsong_df['요일'],
    'samsong': samsong_df['문화생활비'],
    'hyundee': hyundee_df['문화생활비']
    }
    )
combined_df

## 인덱스를 요일로 설정하는 방법 아래를 참고.

In [2]:

# df.set_index라는 메소드를 이용해보세요!!

# DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
# list, series 또는 데이터 프레임을 데이터 프레임의 인덱스로 설정하는 방법입니다!!
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv', delimiter='\t')
hyundee_df = pd.read_csv('data/hyundee.csv', delimiter='\t')

culture_dic = {'samsong':samsong_df['문화생활비'],
               'hyundee':hyundee_df['문화생활비'],
               'day' : hyundee_df['요일']}

df = pd.DataFrame(culture_dic)
df.set_index("day", inplace = True) 
df

     samsong  hyundee
day
MON     4308     5339
TUE     7644     3524
WED     5674     5364
THU     8621     9942
FRI    23052    33511
SAT    15330    19397
SUN    19030    19925

In [3]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv', delimiter='\t')
hyundee_df = pd.read_csv('data/hyundee.csv', delimiter='\t')

# 코드를 작성하세요.

dict1 = {
    'day' : ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
    'samsung' : samsong_df['문화생활비'],
    'hyundee' : hyundee_df['문화생활비']
}

pd.DataFrame(dict1)

   day  samsung  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925