번 챕터에서 배운 기법들로 DataFrame을 바로잡아 봅시다.


해야 할 일이 두 가지 있습니다.


'비만도' column을 추가하고, 모든 ID에 대해 '정상'으로 설정해주세요.
'Gender' column의 값을 ID 0~10까지는 'Male' 11~20까지는 'Female'로 변경하세요.

1. 컬럼을 새로 추가하고 거기에 값을 넣는다.     

2. 컬럼의 값에서 0~10까지로우는 특정 값으로 바꾸고 11~이후부터 끝까지는 다른 특정값으로 변경함

In [35]:
import pandas as pd

df = pd.read_csv('data/body_imperial2.csv', delimiter='\t')

df.drop('ID', axis=1,inplace=True)
df.index.name = 'ID'
df.loc[:,'비만도'] = '정상'
df.loc[:,'Gender'] = 'Male'
df = df.loc[:,['Gender','Height (Inch)','Weight (Pound)','비만도']]
df.loc[11:, 'Gender'] = 'Female'
df
# df.to_csv('data/body_imperial1.csv')
# 코드를 작성하세요.

# 정답 출력
# df['비만도'] = '정상'
# df.loc[:11, 'Gender'] = 'Male'
# df.loc[11:, 'Gender'] = 'Female'

    Gender  Height (Inch)  Weight (Pound) 비만도
ID
0     Male      73.847017      241.893563  정상
1     Male      70.000000             NaN  정상
2     Male      74.110105      212.740856  정상
3     Male      71.730978      220.042470  정상
4     Male      69.881796      206.349801  정상
5     Male      67.253016      152.212156  정상
6     Male      68.785081      183.927889  정상
7     Male      68.348516      167.971110  정상
8     Male      67.018950      175.929440  정상
9     Male      63.456494      156.399676  정상
10    Male      71.195382      186.604926  정상
11  Female      62.636675      102.853563  정상
12  Female      62.077832      138.691680  정상
13  Female      60.030434       97.687432  정상
14  Female      59.098250      110.529686  정상
15  Female      66.172652      136.777454  정상
16  Female      67.067155      170.867906  정상
17  Female      63.867992      128.475319  정상
18  Female      69.034243      163.852461  정상
19  Female      61.944246      113.649103  정상
20  Female       0.000000        0.000000  정상