In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/broadcast.csv', delimiter='\t')
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [3]:
df['SBS']<df['TV CHOSUN']

2011    False
2012    False
2013    False
2014     True
2015     True
2016     True
2017     True
dtype: bool

In [4]:
df[['SBS','TV CHOSUN']].loc[df['SBS']<df['TV CHOSUN']]

         SBS  TV CHOSUN
2011  11.173      9.102
2012  11.408      8.785
2013   9.673      9.026
2014   9.108      9.440
2015   9.099      9.940
2016   8.669      9.829
2017   8.661      8.886