In [3]:
import numpy as np # 넘파이 alias지정을 한다. np로

tip. 기존의 list 데이터 타입으로는 numpy에서 제공하는 기능들을 구현하는데는 한계가 있습니다. 이를 해결하기 위해서는 numpy의 데이터 타입 모델로 변환해야 합니다. 

즉, list ->np.array형태로 변경해야함.

## 소수점 꼴보기 싫으면?
### numpy.array().astype(int)

In [5]:
revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

In [6]:
# 기존 데이터를 list-> array형태로 변경함.
revenue_in_yen = np.array(revenue_in_yen)
revenue_in_yen

array([300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000,
       330000, 290000, 280000, 380000, 170000, 140000, 230000, 390000,
       400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000,
       340000, 420000, 150000, 130000, 360000, 320000, 250000])

In [7]:
# ndarray형태로 바뀐걸 확인 할 수 있음. 
type(revenue_in_yen)

numpy.ndarray

In [10]:
# ndarray 타입으로 바꿔놔야 배열 자체에 * 1.08을 이요해서 element마다 곱하기를 각각 적용 할 수 있다. 
won_array = revenue_in_yen.astype(int)

In [15]:
won_array = (won_array * 10.08).astype(int)
print(won_array, type(won_array))

[30481920 34546176 32514048 36578304 44706816 14224896 18289152 34546176
 33530112 29465856 28449792 38610432 17273088 14224896 23369472 39626496
 40642560 35562240 38610432 15240960 11176704 24385536 38610432 38610432
 34546176 42674688 15240960 13208832 36578304 32514048 25401600] <class 'numpy.ndarray'>