In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0, delimiter='\t')
df
# 코드를 작성하세요.

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

### 컬럼의 인덱싱 방법은 크게 두가지입니다.     

1. 하나는 loc를 쓰는 방법과 
2. 다른 하나는 loc안쓰고 하는 거겠조?

In [19]:
df[{'JTBC'}]

       JTBC
2011  7.380
2012  7.878
2013  7.810
2014  7.490
2015  7.267
2016  7.727
2017  9.453

In [16]:
df.loc(df.JTBC)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [28]:
df[['KBS','MBC']]

         KBS     MBC
2011  35.951  18.374
2012  36.163  16.022
2013  31.989  16.778
2014  31.210  15.663
2015  27.777  16.573
2016  27.583  14.982
2017  26.890  12.465

### filter 메소드를 이용해 조회하기

In [15]:
df.filter(items = ['JTBC'])

       JTBC
2011  7.380
2012  7.878
2013  7.810
2014  7.490
2015  7.267
2016  7.727
2017  9.453