In [2]:
import pandas as pd

iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
# 컬럼 리스트 2개 이상을 보고 싶을때! 
iphone_df[['디스플레이','Face ID', '출시 버전']] = 'x'
iphone_df # 3개의 컬럼들 전부에 값들이 모두 바뀐걸 볼 수 있음.

                      출시일 디스플레이  메모리 출시 버전 Face ID
iPhone 7 Plus  2016-09-16     x  3GB     x       x
iPhone 8       2017-09-22     x  2GB     x       x
iPhone 8 Plus  2017-09-22     x  3GB     x       x
iPhone X       2017-11-03     x  3GB     x       x
iPhone XS      2018-09-21     x  4GB     x       x
iPhone XS Max  2018-09-21     x  4GB     x       x

In [4]:
iphone_df.loc[['iPhone 7 Plus','iPhone 8']] = 'o'
iphone_df

                      출시일 디스플레이  메모리 출시 버전 Face ID
iPhone 7 Plus           o     o    o     o       o
iPhone 8                o     o    o     o       o
iPhone 8 Plus  2017-09-22     x  3GB     x       x
iPhone X       2017-11-03     x  3GB     x       x
iPhone XS      2018-09-21     x  4GB     x       x
iPhone XS Max  2018-09-21     x  4GB     x       x

In [9]:
# 연속된 row들을 바꾸고 싶을 경우 slicing을 이용할 수 있음. 
# .loc 부분만 없애도 됨.
iphone_df.loc['iPhone 7 Plus':'iPhone X'] = 'ok'
iphone_df

                      출시일 디스플레이  메모리 출시 버전 Face ID
iPhone 7 Plus          ok    ok   ok    ok      ok
iPhone 8               ok    ok   ok    ok      ok
iPhone 8 Plus          ok    ok   ok    ok      ok
iPhone X               ok    ok   ok    ok      ok
iPhone XS      2018-09-21     x  4GB     x       x
iPhone XS Max  2018-09-21     x  4GB     x       x

In [13]:
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

AttributeError: module 'pandas' has no attribute 'to_string'

# 조건으로 selecting 해봅시다.

In [14]:
iphone_df.dtypes

출시일         object
디스플레이      float64
메모리         object
출시 버전       object
Face ID     object
dtype: object

In [15]:
iphone_df['디스플레이'] > 5

iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [16]:
iphone_df[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [21]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5    3  iOS 10.0      No
iPhone 8       2017-09-22    4.7    2  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3  iOS 11.0      No
iPhone X       2017-11-03    5.8    3  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4  iOS 12.0     Yes

In [29]:
# re를 사용해서 2019-02-11과 같이 중간에 -를 빼고 값을 저장하는 방법
import re 
date_of_rel = iphone_df['출시일']
p = re.compile(r'[GB]')
series = iphone_df['메모리']
iphone_df['메모리'] = [int(p.sub("", i)) for i in series]

iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [38]:
iphone_df.dtypes

출시일         object
디스플레이      float64
메모리          int64
출시 버전       object
Face ID     object
dtype: object

In [34]:
date_of_rel[:].replace("-", "") 

iphone_df['출시일'] = date_of_rel # date_of_rel은 Series 데이터 타입.

In [35]:
# 특정 칼럼의 데이터 타입을 바꾸는 방법!
iphone_df.astype({'출시일':'str'})
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5    3  iOS 10.0      No
iPhone 8       2017-09-22    4.7    2  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3  iOS 11.0      No
iPhone X       2017-11-03    5.8    3  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4  iOS 12.0     Yes

In [28]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5    3  iOS 10.0      No
iPhone 8       2017-09-22    4.7    2  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3  iOS 11.0      No
iPhone X       2017-11-03    5.8    3  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4  iOS 12.0     Yes