In [57]:
import pandas as pd

iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [28]:
iphone_df.dtypes

출시일         object
디스플레이      float64
메모리         object
출시 버전       object
Face ID     object
제조사          int64
dtype: object

## insert A New Row with data

In [58]:
iphone_df.loc['iPhone XR'] = ['2018-10-26',6.1,'3GB','iOS 12.1','YES']
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.1     YES

In [60]:
# 제조사 컬럼을 넣어봅시다. 
# iphone_df['제조사'] = ['Yes' if iphone_df.iloc[0][4] == 'No' else 'No' for i in range(7)]
# iphone_df.iloc[:4,5] = 1
# iphone_df.iloc[4:, 5] = 2
iphone_df.iloc[4, 4]

'Yes'

# Drop the a row

In [9]:
# axis는 여기서 row를 가리킨다. 
# inplace는 db의 commit명령어와 동일한 역할을 한다. False면 저장안되고 잠깐 보여줄 뿐. True로 해줘야 해당 컬럼값에 저장됨.
iphone_df.drop('iPhone XR', axis = 'index', inplace= False )
iphone

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2018-10-26    6.1  3GB  iOS 12.1     YES  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [49]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       1
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0       1
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       1
iPhone X       2017-11-03    5.8  3GB  iOS 11.1       1
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0       2
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0       2
iPhone XR      2018-10-26    6.1  3GB  iOS 12.1       2

In [50]:
iphone_df.drop('iPhone XR', axis = 'index', inplace= True )
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       1
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0       1
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       1
iPhone X       2017-11-03    5.8  3GB  iOS 11.1       1
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0       2
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0       2

In [47]:
# 이번엔 axis= 'columns'값을 줘서 특정 컬럼을 날려보자 
# 혹은 그냥 int값 1을 넣어도 다 날라간다. 
iphone_df.drop('제조사', axis = 1, inplace= True )

In [48]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       1
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0       1
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       1
iPhone X       2017-11-03    5.8  3GB  iOS 11.1       1
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0       2
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0       2
iPhone XR      2018-10-26    6.1  3GB  iOS 12.1       2

In [51]:
iphone_df.drop(['iPhone 7 Plus','iPhone 8','iPhone 8 Plus'], axis = 'index', inplace= True)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1       1
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0       2
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0       2