# 실습과제
키와 몸무게가 담겨 있는 한 DataFrame이 있는데요. 몇 가지 잘못된 사항들이 있습니다. 이번 챕터에서 배운 기법들로 DataFrame을 바로잡아 봅시다.

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv('data/body_imperial1.csv', delimiter='\t')
df = df.set_index('ID')
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000             NaN
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
21       0.000000        0.000000

In [71]:
df.iloc[1, 1] = 200
df.head(2)

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000

In [31]:
df.drop[df.iloc[]]

In [72]:
df.iloc[[20], 0:2] = 70, 200
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
21      70.000000      200.000000

In [73]:
df.rename(index={'':'1번'}, inplace=True)

In [75]:
df = df.reset_index()
df

    ID  Height (Inch)  Weight (Pound)
0    0      73.847017      241.893563
1    1      70.000000      200.000000
2    2      74.110105      212.740856
3    3      71.730978      220.042470
4    4      69.881796      206.349801
5    5      67.253016      152.212156
6    6      68.785081      183.927889
7    7      68.348516      167.971110
8    8      67.018950      175.929440
9    9      63.456494      156.399676
10  10      71.195382      186.604926
11  11      62.636675      102.853563
12  12      62.077832      138.691680
13  13      60.030434       97.687432
14  14      59.098250      110.529686
15  15      66.172652      136.777454
16  16      67.067155      170.867906
17  17      63.867992      128.475319
18  18      69.034243      163.852461
19  19      61.944246      113.649103
20  21      70.000000      200.000000

In [81]:
df.drop('ID',axis='columns', inplace=True)

In [84]:
df.index.name = 'ID'
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000

In [87]:
''' 다른 풀이 방식 '''

df = pd.read_csv('data/body_imperial1.csv', delimiter='\t')
df = df.set_index('ID')

df = df.astype(float)
df.loc[1,['Weight (Pound)']] = 200

df.drop([21], axis = 'index', inplace = True)
df.loc[20] = [70,200]
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000