In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [
    ['dongwook',50,60],
    ['sineui',89,31],
    ['ikjoong',68,91],
    ['yoonsoo',88,71]
]

In [6]:
my_df= pd.DataFrame(two_dimensional_list, columns=['name','english_score','math_score'])
#DataFrame 클래스에 두번째 인자값으로 columns=[값1,값2,값3] 
# 값1,값2,값3이 컬럼 값의 명칭으로 지정된다.
my_df

       name  english_score  math_score
0  dongwook             50          60
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          71

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [7]:
my_df.columns # 표의 column 이름들만 나열됨.

Index(['name', 'english_score', 'math_score'], dtype='object')

In [9]:
my_df.index # row가 index(0~3)범위를 가짐. 총 개수는 4개.

RangeIndex(start=0, stop=4, step=1)

In [10]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [17]:
my_df.shape

(4, 3)

In [13]:
df1 = my_df.astype(str) # 컴럼의 데이터 유형이 str으로 바뀌었음.

In [18]:
df1.dtypes

name             object
english_score    object
math_score       object
dtype: object

In [19]:
df1

       name english_score math_score
0  dongwook            50         60
1    sineui            89         31
2   ikjoong            68         91
3   yoonsoo            88         71

In [24]:
df1['name'][1]

'sineui'

In [25]:
df1['english_score'][0] # 데이터형이 문자로 바뀐걸 볼 수 있음.

'50'