In [2]:
import pandas as pd

In [7]:
names = ['Taylor Swift','Aaron Sorkin','Harry Potter','Ji-Sung Park']
birthday = ['December 13, 1989','June 9, 1961','July 31, 1980','February 25, 1981']
occupation = ['Singer-songwriter','Screenwriter','Wizard','Footballer']


#리스트로 dataframe만든 방법 1
dict1 = {
    'name': pd.Series(names), 
    'birthday': pd.Series(birthday), 
    'occupation': pd.Series(occupation)
}

pd.DataFrame(dict1)

## 다른 방법 2
    
#### 오히려 행과 열의 위치가 일치하기 때문에 더 직관적임.

In [2]:
import pandas as pd 

list1 = [
    ['Taylor Swift', 'December 13, 1989', 'Singer-songwriter'],
    ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'],
    ['Harry Potter', 'July 31, 1980', 'Wizard'],
    ['Ji-Sung Park', 'February 25, 1981', 'Footballer']
]

df = pd.DataFrame(list1, columns=('name','birthday','occupation'))
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

### 셀안의 값들의 왼쪽,오른쪽, 중앙 정렬 방법!
### 테이블의 headers 정렬 방법!!

In [12]:
df.style.set_properties(**{'text-align': 'center'})

In [9]:
df.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

AttributeError: 'DataFrame' object has no attribute 'set_table_styles'