In [3]:
import pandas as pd

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20130101', periods = 6 )
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.444717 -0.460442 -1.097580 -0.596984
2013-01-02  0.012550 -0.112970 -1.020440  1.036641
2013-01-03  1.216600  1.550895  0.957431  0.871923
2013-01-04  0.374882 -0.727793  1.897956  0.818088
2013-01-05  1.169364 -0.361508 -0.286520 -0.671125
2013-01-06  0.530921  1.064864 -0.200874 -1.053632

In [6]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

                   A         B         C         D   E
2013-01-01  0.256486 -0.533594  1.826092 -2.244006 NaN
2013-01-02 -0.592481  1.484267  1.828588  0.222084 NaN
2013-01-03  0.940211  1.039060 -0.761085 -0.897477 NaN
2013-01-04 -0.528017  0.645251 -1.971659 -1.265498 NaN

In [ ]:
df1.

In [6]:
# 두번째 parameter가 각로우에 인덱스 넘버를 매겨준다. 
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
# 테이블의 0번째 컬럼에 인덱스가 설정된다. 
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [7]:
iphone_df.loc[['iPhone 8 Plus','iPhone 7 Plus']] 
# 조회하기 원하는 index의 명칭을 리스트로 넘기면 된다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No

In [8]:
type(iphone_df.loc[['iPhone 8 Plus','iPhone 7 Plus']])

pandas.core.frame.DataFrame

In [58]:
# 원하는 컬럼을 조회하고 싶은 경우
iphone_df[['Face ID','출시일','출시 버전']]

              Face ID         출시일     출시 버전
iPhone 7 Plus      No  2016-09-16  iOS 10.0
iPhone 8           No  2017-09-22  iOS 11.0
iPhone 8 Plus      No  2017-09-22  iOS 11.0
iPhone X          Yes  2017-11-03  iOS 11.1
iPhone XS         Yes  2018-09-21  iOS 12.0
iPhone XS Max     Yes  2018-09-21  iOS 12.0

# 슬라이싱 하는 방법은?

In [9]:
iphone_df['iPhone 7 Plus':'iPhone X']       # 방법1
# iphone_df.loc['iPhone 7 Plus':'iPhone X']   # 방법2 둘다 결과는 동일함
# 0번째 row 인덱스 방향부터 조회가 가능함. 역방향은 안됨.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

In [12]:
# iphone_df[:,'출시일':'메모리']  #오류발생함.

In [22]:
# index_col=1로 잡을 경우,
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df
iphone_df.columns

Index(['출시일', '디스플레이', '메모리', '출시 버전', 'Face ID'], dtype='object')

In [40]:
# 특정 셀안의 값 하나만 보고 싶을때 사용
# iphone_df['메모리']
# 특정 셀안의 값 하나만 보고 싶을때 사용
# iphone_df['메모리']
iphone_df.loc[:,{'메모리','디스플레이'}]
# 첫번째 인자에 숫자 넣음 오류 
# 현재 객체들이 str으로 되어있기에 str으로 첫번째 인자를 잡아야함.
# iphone_df[['Face ID','출시일','출시 버전']]

               메모리  디스플레이
iPhone 7 Plus  3GB    5.5
iPhone 8       2GB    4.7
iPhone 8 Plus  3GB    5.5
iPhone X       3GB    5.8
iPhone XS      4GB    5.8
iPhone XS Max  4GB    6.5