In [12]:
import pandas as pd

In [28]:
# 두번째 parameter가 각로우에 인덱스 넘버를 매겨준다. 
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
# 테이블의 0번째 컬럼에 인덱스가 설정된다. 
iphone_df

              기종         출시일  디스플레이  메모리     출시 버전 Face ID
0  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
1       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
2  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
3       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
4      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
5  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [30]:
iphone_df.loc[1,'메모리'] #iPone 8의 메모리->2GB를 조회 하기.

'2GB'

In [45]:
# index_col=1로 잡을 경우,
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [49]:
iphone_df.loc['iPhone 8','메모리'] 
# 첫번째 인자에 숫자 넣음 오류 
# 현재 객체들이 str으로 되어있기에 str으로 첫번째 인자를 잡아야함.

'2GB'