In [11]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv', delimiter='\t')
hyundee_df = pd.read_csv('data/hyundee.csv', delimiter='\t')

# 코드를 작성하세요.
samsong_df

    요일     식비   교통비  문화생활비    기타
0  MON  19420  2560   4308  3541
1  TUE  16970  2499   7644  2903
2  WED  15091  2511   5674  2015
3  THU  17880  2545   8621  3012
4  FRI  27104  2993  23052  2508
5  SAT  29055  2803  15330  4901
6  SUN  23509  1760  19030  4230

In [22]:
days = samsong_df[['요일']]
culture1 = samsong_df[['문화생활비']]
culture2 = hyundee_df[['문화생활비']]

new_df = {
            'day':days,
            'samong':culture1,
            'hyundee': culture2 
}

new_df

{'day':     요일
 0  MON
 1  TUE
 2  WED
 3  THU
 4  FRI
 5  SAT
 6  SUN,
 'samong':    문화생활비
 0   4308
 1   7644
 2   5674
 3   8621
 4  23052
 5  15330
 6  19030,
 'hyundee':    문화생활비
 0   5339
 1   3524
 2   5364
 3   9942
 4  33511
 5  19397}