In [143]:
import pandas as pd

df = pd.read_csv('data/body_imperial1.csv', index_col=0, delimiter='\t')

# 코드를 작성하세요.
'''

ID 1의 무게를 200으로 변경하세요.
ID 21의 row를 삭제하세요.
ID 20의 row를 추가하세요. ID 20의 키는 70, 무게는 200입니다.

'''
# 정답 출력
df

    Height(Inch)   Weight(Pound)
ID
0      73.847017      241.893563
1      70.000000             NaN
2      74.110105      212.740856
3      71.730978      220.042470
4      69.881796      206.349801
5      67.253016      152.212156
6      68.785081      183.927889
7      68.348516      167.971110
8      67.018950      175.929440
9      63.456494      156.399676
10     71.195382      186.604926
11     62.636675      102.853563
12     62.077832      138.691680
13     60.030434       97.687432
14     59.098250      110.529686
15     66.172652      136.777454
16     67.067155      170.867906
17     63.867992      128.475319
18     69.034243      163.852461
19     61.944246      113.649103
21      0.000000        0.000000

In [144]:
df.dtypes
# 컬럼의 데이터 타입을 모두 float으로 바꾸어 봅시다. 
'''
(1) pd.to_numeric() 함수를 이용한 문자열 칼럼의 숫자형 변환
예제. df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})
      df

(2) astype() 메소드를 이용한 문자열 칼럼의 숫자형 변환
    df5 = df4.astype(float)
    df5
'''

"\n(1) pd.to_numeric() 함수를 이용한 문자열 칼럼의 숫자형 변환\n예제. df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})\n      df\n\n(2) astype() 메소드를 이용한 문자열 칼럼의 숫자형 변환\n    df5 = df4.astype(float)\n    df5\n"

In [145]:
# astype() 메소드를 이용해서 전체 컬럼을 모두 한번에 형변환 한것.
df = df.astype(float)
df.dtypes

Height(Inch)     float64
Weight(Pound)    float64
dtype: object

In [147]:
df

    Height(Inch)  Weight(Pound)
ID
0      73.847017     241.893563
1      70.000000            NaN
2      74.110105     212.740856
3      71.730978     220.042470
4      69.881796     206.349801
5      67.253016     152.212156
6      68.785081     183.927889
7      68.348516     167.971110
8      67.018950     175.929440
9      63.456494     156.399676
10     71.195382     186.604926
11     62.636675     102.853563
12     62.077832     138.691680
13     60.030434      97.687432
14     59.098250     110.529686
15     66.172652     136.777454
16     67.067155     170.867906
17     63.867992     128.475319
18     69.034243     163.852461
19     61.944246     113.649103
21      0.000000       0.000000

In [148]:
df.loc[1,['Weight(Pound)']] = 200

In [149]:
''' 파라미터 axis = "index"를 표기해줘야. 칼럼인지 로우인지 구분할 수 있음.  '''
df.drop([21], axis = 'index', inplace = True)

In [150]:
# 새로운 row를 넣어 봅시다.
df.loc[20] = [70,200]
df

    Height(Inch)  Weight(Pound)
ID
0      73.847017     241.893563
1      70.000000     200.000000
2      74.110105     212.740856
3      71.730978     220.042470
4      69.881796     206.349801
5      67.253016     152.212156
6      68.785081     183.927889
7      68.348516     167.971110
8      67.018950     175.929440
9      63.456494     156.399676
10     71.195382     186.604926
11     62.636675     102.853563
12     62.077832     138.691680
13     60.030434      97.687432
14     59.098250     110.529686
15     66.172652     136.777454
16     67.067155     170.867906
17     63.867992     128.475319
18     69.034243     163.852461
19     61.944246     113.649103
20     70.000000     200.000000

In [ ]:
# id 1의 무게를 200으로 고치기 
df.loc[1, ['Weight(Pound)']] = 200
df

In [ ]:
# id 21의 로우를 삭제하세요.
df.drop([21], axis='index',inplace=True)
df

In [ ]:
# ID 20의 row를 추가하세요. ID 20의 키는 70, 무게는 200입니다.
df.iloc[20] = [70,200]
df

In [142]:
import pandas as pd

df = pd.read_csv('data/body_imperial1.csv', index_col=0)

# 코드를 작성하세요.
df = df.astype(float)
df.loc[1,['Weight(Pound)']] = 200
df.drop([21], axis = 'index', inplace = True)
df.loc[20] = [70,200]


# 정답 출력
df

KeyError: "None of [Index(['Weight(Pound)'], dtype='object')] are in the [columns]"