In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('data/body_imperial1.csv', index_col=0, delimiter='\t')
df = df.astype(float)
df.loc[1,['Weight(Pound)']] = 200
df.loc[21] = [70,200]


df

    Height(Inch)  Weight(Pound)
ID
0      73.847017     241.893563
1      70.000000     200.000000
2      74.110105     212.740856
3      71.730978     220.042470
4      69.881796     206.349801
5      67.253016     152.212156
6      68.785081     183.927889
7      68.348516     167.971110
8      67.018950     175.929440
9      63.456494     156.399676
10     71.195382     186.604926
11     62.636675     102.853563
12     62.077832     138.691680
13     60.030434      97.687432
14     59.098250     110.529686
15     66.172652     136.777454
16     67.067155     170.867906
17     63.867992     128.475319
18     69.034243     163.852461
19     61.944246     113.649103
21     70.000000     200.000000

In [ ]:
'''
 DataFrame에서 처음부터 n까지의 row를 인덱싱하는 방법은 df.loc[:n, columns],
n부터 끝까지 인덱싱하는 방법은 df.loc[n:, columns]
문법을 사용하면 됩니다.
'''

In [27]:
df['Gender'] = None
# df[:, ['Gender']]

In [33]:
df.loc[:10, ['Gender']] = 'Male'
df.loc[11:, ['Gender']] = 'Female'
df.loc[['Gender','Height(Inch)','Weight(Pound)']]

KeyError: "None of [Index(['Gender', 'Height(Inch)', 'Weight(Pound)'], dtype='object', name='ID')] are in the [index]"

In [35]:
'''
다른 사람 풀이 방법 : 
출처: https://www.codeit.kr/learn/courses/data-science/1021

'''
df['비만도'] = '정상'
df.loc[df.index <= 10, 'Gender']='Male'
df.loc[df.index > 10, 'Gender']='Female'
df

    Height(Inch)  Weight(Pound)  Gender 비만도
ID
0      73.847017     241.893563    Male  정상
1      70.000000     200.000000    Male  정상
2      74.110105     212.740856    Male  정상
3      71.730978     220.042470    Male  정상
4      69.881796     206.349801    Male  정상
5      67.253016     152.212156    Male  정상
6      68.785081     183.927889    Male  정상
7      68.348516     167.971110    Male  정상
8      67.018950     175.929440    Male  정상
9      63.456494     156.399676    Male  정상
10     71.195382     186.604926    Male  정상
11     62.636675     102.853563  Female  정상
12     62.077832     138.691680  Female  정상
13     60.030434      97.687432  Female  정상
14     59.098250     110.529686  Female  정상
15     66.172652     136.777454  Female  정상
16     67.067155     170.867906  Female  정상
17     63.867992     128.475319  Female  정상
18     69.034243     163.852461  Female  정상
19     61.944246     113.649103  Female  정상
21     70.000000     200.000000  Female  정상

In [37]:
df = df.loc[:, ['Gender','Height(Inch)','Weight(Pound)','비만도']]
df

    Gender  Height(Inch)  Weight(Pound) 비만도
ID
0     Male     73.847017     241.893563  정상
1     Male     70.000000     200.000000  정상
2     Male     74.110105     212.740856  정상
3     Male     71.730978     220.042470  정상
4     Male     69.881796     206.349801  정상
5     Male     67.253016     152.212156  정상
6     Male     68.785081     183.927889  정상
7     Male     68.348516     167.971110  정상
8     Male     67.018950     175.929440  정상
9     Male     63.456494     156.399676  정상
10    Male     71.195382     186.604926  정상
11  Female     62.636675     102.853563  정상
12  Female     62.077832     138.691680  정상
13  Female     60.030434      97.687432  정상
14  Female     59.098250     110.529686  정상
15  Female     66.172652     136.777454  정상
16  Female     67.067155     170.867906  정상
17  Female     63.867992     128.475319  정상
18  Female     69.034243     163.852461  정상
19  Female     61.944246     113.649103  정상
21  Female     70.000000     200.000000  정상