In [2]:
import pandas as pd

In [25]:
df = pd.read_csv('data/puzzel_before.csv', delimiter='\t')
df.drop('Unnamed: 0',axis=1, inplace=True)

Index(['Unnamed: 0', 'A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [26]:
df.drop('Unnamed: 0',axis=1, inplace=True)
df

   A   B   C   D   E   F
0  1  55  70  87  56  13
1  2  45  60  99  53  24
2  3  88  70  94  39  29
3  4  97  80  24  83  78
4  5  13  90  26  80  61

In [45]:
# A컬럼을 2로 곱하여 전체 값들을 변경시키고 다시 해당 칼럼에 저장함.
# df['A'] = df['A']*2
# df.iloc[:, 1:4] > df.iloc[:, 1:4] > 80 
condition = df.loc[:, 'B':'E'] >= 80
df.loc[:, 'B':'E'] = condition * 1
df

   A  B  C  D  E   F
0  1  0  0  0  0  13
1  2  0  0  0  0  24
2  3  0  0  0  0  29
3  4  0  0  0  0  78
4  5  0  0  0  0  61

In [29]:

# df[df.loc[: , 'B':'E'] < 80] = 0
# df[df.loc[: , 'B':'E'] >= 80] = 1
df

    A      B      C      D      E   F
0   2  False  False   True  False  13
1   4  False  False   True  False  24
2   6   True  False   True  False  29
3   8   True  False  False   True  78
4  10  False   True  False  False  61

## 다른 풀이방식 replace사용

In [36]:
df = pd.read_csv('data/puzzel_before.csv', delimiter='\t')
df.drop('Unnamed: 0',axis=1, inplace=True)

df["A"] = df["A"] * 2
df.loc[:, "B":"E"] = df.loc[:, "B":"E"] > 80
df.replace(False, "0", inplace = True)
df.replace(True, "1", inplace = True)
df.iloc[2, 5] = 99
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  0  0  1  78
4  10  0  1  0  0  61

# 조건 필터링을 통한 값 변경

In [39]:
df = pd.read_csv('data/puzzel_before.csv', delimiter='\t')
df.drop('Unnamed: 0',axis=1, inplace=True)

lowers = df.loc[:, 'B':'E'] < 80
df[lowers] = 0 
df

   A   B   C   D   E   F
0  1   0   0  87   0  13
1  2   0   0  99   0  24
2  3  88   0  94   0  29
3  4  97  80   0  83  78
4  5   0  90   0  80  61

# Codeit 해설

In [54]:
df = pd.read_csv('data/puzzel_before.csv', delimiter='\t')
df.drop('Unnamed: 0',axis=1, inplace=True)
df

   A   B   C   D   E   F
0  1  55  70  87  56  13
1  2  45  60  99  53  24
2  3  88  70  94  39  29
3  4  97  80  24  83  78
4  5  13  90  26  80  61

## 1. 'A' column이 모두 2배가 되었습니다.

In [55]:
df['A'] = df['A'] * 2
df

    A   B   C   D   E   F
0   2  55  70  87  56  13
1   4  45  60  99  53  24
2   6  88  70  94  39  29
3   8  97  80  24  83  78
4  10  13  90  26  80  61

## 2. 'B'에서 'E'까지의 column은 80보다 큰 것은 1, 작은 것은 0으로 바뀌었습니다.

In [58]:
# 80보다 작은 값은 0으로 변경
lowers = df.loc[:, 'B':'E'] < 80
df[lowers] = 0

# 80이상의 값은 1로 변경
highers = df.loc[:, 'B':'E'] >= 80
df[highers] = 1
df

    A  B  C  D  E   F
0   2  0  0  0  0  13
1   4  0  0  0  0  24
2   6  0  0  0  0  29
3   8  0  0  0  0  78
4  10  0  0  0  0  61

## 3. 2번 index의 'F' column 값이 29에서 99로 바뀌었습니다.

In [60]:
df.loc[2, 'F'] = 99
df

    A  B  C  D  E   F
0   2  0  0  0  0  13
1   4  0  0  0  0  24
2   6  0  0  0  0  99
3   8  0  0  0  0  78
4  10  0  0  0  0  61